body {
  font-family: monospace;
  font-style: normal;
  font-weight: lighter;
  background-color: #FAEED1;
  justify-content: center;
  align-items: center;

}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Use the full height of the viewport */
  margin-top: 20px;
}

h1 {

  font-size: 80px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload{
  margin-right: 20px;
}

input[type="file"] {
  /* Hide the default file input button */
  display: none;
}

.custom-file-input {
  display: none; /* Hide the default file input */
}

.uploadLabel{
  padding: 8px 12px;
  background-color: #607274;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

.uploadLabel:hover {
  background-color: #3D3B40;
  cursor: pointer;
}

button {
  padding: 8px 12px;
  background-color: #607274;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3D3B40;
}

pre {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-height: 300px;
  border: 1px solid #ccc;
}